<a href="/home/conference/{{conference.id}}" alt="{{conference.name}}">
    <div class="well hoverWell hidden-xs">
        <div class="row">
            <h2 class="col-lg-10 course-header">{{conference.name}}</h2>
        </div>
        <div class="row padding-top">
            <span class="col-lg-2">Description:</span><span class="col-lg-10 course-description">{{conference.description}}</span>
        </div>
        <div class="row padding-top">
            <span class="col-lg-2">Speaker:</span><span class="col-lg-10 course-description">{{conference.speaker.name}}</span>
        </div>
    </div>
</a>
